body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 100%;
}
html {
  height: 100%;
  min-height: 100%;
}
#mainView {
  width: 600px;
  top: 50%;
  margin-top: -29.375rem;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#mainView > .mdl-card__title {
  height: 75px;
  color: #faf3ed;
  background: #f6241e;
}
.mdl-textfield {
  width: 100%
}
small.footer > a{
  text-decoration: none;
}
